<%= form_with model: @note, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :favorite, class: "form-check-input" %>
    <%= f.label :favorite, class: "form-check-label" %>
  </div>

  <%= f.submit class: "btn btn-success" %>
  <%= link_to "Back", notes_path, class: "btn btn-secondary ms-2" %>
<% end %>
