<h3><%= @note.title %><%= @note.favorite ? " â­" : "" %></h3>
<div class="">
<p><%= @note.description %></p>


<div class="">
  <small class="text-muted">
    <% if @note.updated_at > @note.created_at %>
      Updated: <%= @note.updated_at.strftime("%b %d, %Y") %>
    <% else %>
      Created: <%= @note.created_at.strftime("%b %d, %Y") %>
    <% end %>
  </small>
  <br/>
  <%= link_to edit_note_path(@note), class: "text-primary fs-6" do %>
    Edit <i class="bi bi-pencil"></i>
  <% end %>
   |
  <%= link_to "Back", notes_path %>
</div>
</div>