<div class="container">
  <div class="my-centered-form-wrapper p-5 bg-white mx-auto mt-3" style="max-width: 400px;">
    <h4 class="text-center mb-4">Forgot your password?</h4>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if resource.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% resource.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= form_for(resource, as: resource_name,
                 url: password_path(resource_name),
                 html: { method: :post }) do |f| %>

      <%#= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email,
              class: "form-control",
              autofocus: true,
              autocomplete: "email" %>
      </div>

      <div class="d-grid">
        <%= f.submit "Reset Password",
              class: "btn btn-primary" %>
      </div>

    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

