<header class="navbar navbar-dark bg-dark">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- Brand fs-2 fw-bold -->
    <% if user_signed_in? %>
      <a class="navbar-brand" href="<%= notes_path %>">
        <i class="bi bi-journals " ></i> KeeNotes
      </a>
    <% else %>
      <a class="navbar-brand" href="<%= root_path %>">
        <i class="bi bi-journals"></i> KeeNotes
      </a>
    <% end %>

    <% if user_signed_in? %>
      <!-- Left-side buttons -->
      <div class="d-flex align-items-center">
        <ul class="navbar-nav flex-row gap-3 pt-1">
          <li class="nav-item ">
            <%= link_to "All Notes", notes_path, class: "nav-link text-decoration-none" %>
          </li>

          <% if current_user.notes.exists? %>
            <li class="nav-item">
              <%= link_to "Favorites", favorites_notes_path, class: "nav-link text-decoration-none" %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to "New Note", new_note_path, class: "nav-link text-decoration-none" %>
          </li>
        </ul>

        <%#= link_to "All Notes", notes_path, class: "text-decoration-none fs-6 pt-1 px-2 text-white" %>

        <%# if current_user.notes.exists? %>
          <%#= link_to "Favorites", favorites_notes_path, class: "text-decoration-none fs-6 pt-1 px-2 text-white" %>
        <%# end %>

        <%#= link_to "New Note", new_note_path, class: "text-decoration-none fs-6 pt-1 px-2 text-white" %>
      </div>

      <!-- Right-side user actions -->
      <div class="d-flex align-items-center ms-auto">
        <span class="text-light me-3">
          Welcome, <strong class="pt-1"><%= current_user.full_name %></strong>
        </span>

        <%= button_to "Sign out",
                      destroy_user_session_path,
                      method: :delete,
                      class: "btn btn-outline-light btn-sm" %>
      </div>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-light btn-sm" %>
    <% end %>

  </div>
</header>
